body {
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    margin: 0 auto; 
}

.header__content {
    margin: 0 25px 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

form {
    display: flex;
}

input {
    height: 30px;
    width: 250px;
    outline: none;
    padding-left: 10px;
    font-size: 18px;
}

.search__btn {
    height: 30px;
    margin-left: 10px;
    width: 60px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
}

.search__btn:hover {
    cursor: pointer;
}

.photo__wrapper {
    display: flex;
    flex-wrap: wrap;
}

img {
    margin: 50px 25px 0 25px;
}